@*@model API_MEI.Models.Juri

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<div>
    <h4>Juri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vogal_Arguente1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vogal_Arguente1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vogal_Arguente2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vogal_Arguente2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vogal_Orientador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vogal_Orientador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Defesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Defesa)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-controller="Juri" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
*@