@*@model IEnumerable<API_MEI.Models.Juri>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table_Juri</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="~/js/tables.js" asp-append-version="true"></script>

</head>
<body>
    <div class="container">
        <div class="">
            <div class="">
                <input type="text" class="form-control text" id="search-input" placeholder="Search">
                <button class="btn btn-primary" id="search-btn">Search</button>
            </div>
            <div>
                @await Html.PartialAsync("Create_Juri.cshtml", new API_MEI.Models.Juri())
            </div>
            <div>
                <form method="post" action="/Juri/DeleteMultiple" id="delete-form">
                    <button type="submit" class="btn btn-primary" id="delete-btn">Delete Selected</button>

                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="select-all-checkbox" />
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Presidente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vogal_Arguente1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vogal_Arguente2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vogal_Orientador)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Data_Defesa)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text"><input type="checkbox" class="select-checkbox" name="ids" value="@item.Id"></td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Presidente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vogal_Arguente1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vogal_Arguente2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vogal_Orientador)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data_Defesa)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary text" asp-action="Edit_Juri" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-sm btn-danger text" asp-action="Delete_Juri" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
*@