@model FrontEnd.Data.Paging_Models.EspecialistasPagingModel


<head>
    <script src="~/js/tables.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="/css/All.css">

</head>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="row mt-5">
                    <div class="btn-group mt-5" role="group" aria-label="Basic example">
                        <input type="text" class="form-control text" id="search-input" placeholder="Search">
                        <button class="btn btn-primary" id="search-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-10 mt-1">
                @await Html.PartialAsync("Create_Especialista.cshtml", new FrontEnd.Models.Especialistas())
            </div>
        </div>
    </div>
    <!-- Paginação -->

    <paging page-no="Model.P"
            page-size="Model.S"
            total-records="Model.TotalRecords"
            text-page-size="{0} records per page"
            class-page-size-div="col-3"
            max-displayed-pages="5">
    </paging>

    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="topDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NºElementos
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Especialistas/Index?s=10">10</a>
            <a class="dropdown-item" href="/Especialistas/Index?s=20">20</a>
            <a class="dropdown-item" href="/Especialistas/Index?s=40">40</a>
            <a class="dropdown-item" href="/Especialistas/Index?s=@Model.TotalRecords">Tudo</a>

        </div>

    </div>
 <!-- End Paginação -->
                        
            <div>
                <form method="post" action="/Especialistas/DeleteMultiple" id="delete-form">
                    <button type="submit" class="btn btn-danger" id="delete-btn">Delete Selected</button>

                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="select-all-checkbox" />
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Especialista.Membros.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Especialista.Membros.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Especialista.Membros.Contacto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Especialista.Empresas.Nome)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.EspecialistasList)
                            {
                                <tr>
                                    <td class="text"><input type="checkbox" class="select-checkbox" name="ids" value="@item.Id"></td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Membros.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Membros.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Membros.Contacto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Empresas.Nome)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" asp-action="Edit_Especialista" asp-route-id="@item.Id"data-ajax="true" data-ajax-method="get"
                                            data-ajax-mode="replace" data-ajax-update="#target"
                                            data-toggle="modal" data-target="#exampleModal">Edit</a>
                                        <a class="btn btn-sm btn-danger" asp-action="Delete_Especialista" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
<!-- Paginação -->

    <paging page-no="Model.P"
            page-size="Model.S"
            total-records="Model.TotalRecords"
            text-page-size="{0} records per page"
            class-page-size-div="col-3"
            max-displayed-pages="5">
    </paging>

    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="bottomDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NºElementos
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Especialistas/Index?s=10">10</a>
            <a class="dropdown-item" href="/Especialistas/Index?s=20">20</a>
            <a class="dropdown-item" href="/Especialistas/Index?s=40">40</a>
            <a class="dropdown-item" href="/Especialistas/Index?s=@Model.TotalRecords">Tudo</a>

        </div>

    </div>
 <!-- End Paginação -->


        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Especialista</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="target">
                    @await Html.PartialAsync("Edit_Especialista.cshtml", new FrontEnd.Models.Especialistas())
                </div>
            </div>
        </div>
    </div>

@section Scripts
    {

    <script src="~/js/tables.js" asp-append-version="true"></script>
    <script>

            $(function () {
                $("#topDropdownMenuButton, #bottomDropdownMenuButton").text('@Model.S');
            })
    </script>
    }




