@model IEnumerable<FrontEnd.Models.Alunos>

    <div class="container">
        <div class="d-flex flex-row">

        </div>
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th data-type="numeric" class="text">
                        @Html.DisplayNameFor(model => model.Numero_Aluno)
                    </th>
                    <th class="text">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th class="text">
                        @Html.DisplayNameFor(model => model.Curso)
                    </th>
                    <th class="text">
                        @Html.DisplayNameFor(model => model.Instituicao)
                    </th>
                    <th data-type="text-long" class="text">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text">@Html.DisplayFor(modelItem => item.Numero_Aluno)</td>
                        <td class="text">@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td class="text">@Html.DisplayFor(modelItem => item.Curso)</td>
                        <td class="text">@Html.DisplayFor(modelItem => item.Instituicao)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    


    @section Scripts
        {
            <script src="~/js/tables.js" asp-append-version="true"></script>
        }


