@model FrontEnd.Data.Paging_Models.DocentesPagingModel
<head>

    <script src="~/js/tables.js" asp-append-version="true"></script>

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="row mt-5">
                    <div class="col-6  mt-5">
                        <input type="text" class="form-control text" id="search-input" placeholder="Search">
                    </div>
                    <div class="col-6  mt-5">
                        <button class="btn btn-primary" id="search-btn">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-10 mt-1">
                @await Html.PartialAsync("Create_Docente.cshtml", new FrontEnd.Models.Docentes())
            </div>
        </div>
    </div>

    
    <div>
        <form method="post" action="/Docentes/DeleteMultiple" id="delete-form">
            <button type="submit" class="btn btn-danger" id="delete-btn">Delete Selected</button>

            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="select-all-checkbox" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Docente.Membros.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Docente.Membros.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Docente.Membros.Contacto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Docente.Filiacao)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DocentesList)
                    {
                        <tr>
                            <td class="text"><input type="checkbox" class="select-checkbox" name="ids" value="@item.Id"></td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Membros.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Membros.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Membros.Contacto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Filiacao)
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary text" asp-action="Edit_Docente" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-sm btn-danger text" asp-action="Delete_Docente" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>

    <!-- Paginação -->

    <paging page-no="Model.P"
            page-size="Model.S"
            total-records="Model.TotalRecords"
            text-page-size="{0} records per page"
            class-page-size-div="col-3"
            max-displayed-pages="5">
    </paging>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NºElementos
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Docentes/Index?s=10">10</a>
            <a class="dropdown-item" href="/Docentes/Index?s=20">20</a>
            <a class="dropdown-item" href="/Docentes/Index?s=40">40</a>
        </div>

    </div>


    @section Scripts
        {

        <script>
            $(function () {
                $("#dropdownMenuButton").text('@Model.S');
            })
        </script>
    }

</body>