@model FrontEnd.Data.Paging_Models.MembrosPagingModel

<body>
    <div>
        <form method="post" action="/Membros/DeleteMultiple" id="delete-form">
            <button type="submit" class="btn btn-danger" id="delete-btn">Delete Selected</button>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th class="text">
                            <input type="checkbox" id="select-all-checkbox">
                        </th>
                        <th data-type="numeric" class="text">
                            @Html.DisplayNameFor(model => model.Membro.Nome)
                        </th>
                        <th class="text">
                            @Html.DisplayNameFor(model => model.Membro.Contacto)
                        </th>
                        <th class="text">
                            @Html.DisplayNameFor(model => model.Membro.Email)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MembrosList)
                    {
                        <tr>
                            <td class="text"><input type="checkbox" class="select-checkbox" name="ids" value="@item.Id"></td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Contacto)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Email)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>

    <!-- Paginação -->

    <paging page-no="Model.P"
            page-size="Model.S"
            total-records="Model.TotalRecords"
            text-page-size="{0} records per page"
            class-page-size-div="col-3"
            max-displayed-pages="5">
    </paging>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NºElementos
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Membros/Index?s=10">10</a>
            <a class="dropdown-item" href="/Membros/Index?s=20">20</a>
            <a class="dropdown-item" href="/Membros/Index?s=40">40</a>
            <a class="dropdown-item" href="/Membros/Index?s=@Model.TotalRecords">Tudo</a>
        </div>

    </div>


    @section Scripts
        {

        <script src="~/js/tables.js" asp-append-version="true"></script>
        <script>

            $(function () {
                $("#dropdownMenuButton").text('@Model.S');
            })
        </script>
    }

</body>



