@model IEnumerable<FrontEnd.Models.Empresas>
<head>
    <!-- Add these lines to include DataTables CSS and JS files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-row">

            <div class="p-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="text" class="form-control text" id="search-input" placeholder="Search">
                    <button class="btn btn-primary" id="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th data-type="numeric" class="text">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th class="text">
                        @Html.DisplayNameFor(model => model.Local)
                    </th>
                    <th class="text">
                        @Html.DisplayNameFor(model => model.Email_empresa)
                    </th>
                    <th class="text">
                        @Html.DisplayNameFor(model => model.Protocolo)
                    </th>
                    <th data-type="text-long" class="text">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td class="text">@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Local)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Email_empresa)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Protocolo)</td>
                            <td>
                                <a class="btn btn-sm btn-primary text" asp-route-id="@item.Id"
                                    onclick="selectAluno('@item.Id', '@item.Nome', '@item.Local','@item.Protocolo')"
                                    data-dismiss="modal">Selecionar</a>
                            </td>
                        </tr>
                }
            </tbody>
        </table>

        <!-- Paginação -->

        <div class="d-flex flex-row">
            <!-- Add this div to include the dropdown for rows per page -->
            <div class="p-2">
                <label for="rows-per-page">Rows per page:</label>
                <select id="rows-per-page" class="custom-select">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
            <!-- Your existing search input and button -->
        </div>
    </div>


    <script type="text/javascript">
    $(document).ready(function () {
            var table = $('#myTable').DataTable({
                pageLength: parseInt($('#rows-per-page').val()), // Set the initial page length
                lengthChange: false, // Disable the built-in length menu
                searching: false, // Disable the built-in search box
                paging: true, // Enable pagination
                info: false, // Disable the table information display
            });

        $('#rows-per-page').on('change', function () {
            table.page.len(parseInt($(this).val())).draw();
        });

        // Handle the search button click event
        $('#search-btn').on('click', function () {
            table.search($('#search-input').val()).draw();
        });
    });
</script>

    <script>
        document.getElementById("search-input").addEventListener("input", function () {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("search-input");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break; // break the loop once a match is found in any column
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        });
    </script>
    <script>
        function selectAluno(empresaId, empresaNome, empresaLocal, empresaProtocolo) {
            // Store the selected aluno ID, nome, and numero in the hidden input fields
            $('#EmpresaId').val(empresaId);
            $('#EmpresaNome').val(empresaNome);
            $('#EmpresaLocal').val(empresaLocal);
            $('#EmpresaProtocolo').val(empresaProtocolo);

        }
    </script>



</body>

@section Scripts
    {
                <script src="~/js/tables.js" asp-append-version="true"></script>
        }


