@model FrontEnd.Data.Paging_Models.AlunosPagingModel

<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="row mt-5">
                    <div class="btn-group mt-5" role="group" aria-label="Basic example">
                        <input type="text" class="form-control text" id="search-input" placeholder="Search">
                        <button class="btn btn-primary" id="search-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-10 mt-1">
                  @await Html.PartialAsync("Create_Aluno.cshtml", new FrontEnd.Models.Alunos())
            </div>
        </div>
    </div>


              
    <div>
        <form method="post" action="/Alunos/DeleteMultiple" id="delete-form">
            <button type="submit" class="btn btn-danger" id="delete-btn">Delete Selected</button>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th class="text">
                            <input type="checkbox" id="select-all-checkbox">
                        </th>
                        <th data-type="numeric" class="text">
                            @Html.DisplayNameFor(model => model.Aluno.Numero_Aluno)
                        </th>
                        <th class="text">
                            @Html.DisplayNameFor(model => model.Aluno.Nome)
                        </th>
                        <th class="text">
                            @Html.DisplayNameFor(model => model.Aluno.Curso)
                        </th>
                        <th class="text">
                            @Html.DisplayNameFor(model => model.Aluno.Email)
                        </th>
                        <th class="text">
                            @Html.DisplayNameFor(model => model.Aluno.Instituicao)
                        </th>
                        <th class="text">
                            @Html.DisplayNameFor(model => model.Aluno.Estado)
                        </th>
                        <th data-type="text-long" class="text">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AlunosList)
                    {
                        <tr>
                            <td class="text"><input type="checkbox" class="select-checkbox" name="ids" value="@item.Id"></td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Numero_Aluno)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Curso)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Instituicao)</td>
                            <td class="text">@Html.DisplayFor(modelItem => item.Estado)</td>
                            <td>
                                <a class="btn btn-sm btn-primary text" asp-action="Edit_Aluno" asp-route-id="@item.Id"data-ajax="true" data-ajax-method="get"
                                            data-ajax-mode="replace" data-ajax-update="#target"
                                            data-toggle="modal" data-target="#exampleModal">Edit</a>                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
    
    <!-- Paginação -->

    <paging page-no="Model.P"
            page-size="Model.S"
            total-records="Model.TotalRecords"
            text-page-size="{0} records per page"
            class-page-size-div="col-3"
            max-displayed-pages="5">
    </paging>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NºElementos
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Alunos/Index?s=10">10</a>
            <a class="dropdown-item" href="/Alunos/Index?s=20">20</a>
            <a class="dropdown-item" href="/Alunos/Index?s=40">40</a>            
            <a class="dropdown-item" href="/Alunos/Index?s=@Model.TotalRecords">Tudo</a>
        </div>

    </div>

        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Aluno</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="target">
                    @await Html.PartialAsync("Edit_Aluno.cshtml", new FrontEnd.Models.Alunos())
                </div>
            </div>
        </div>
    </div>

    @section Scripts
    {

        <script src="~/js/tables.js" asp-append-version="true"></script>
        <script>

            $(function () {
                $("#dropdownMenuButton").text('@Model.S');
            })
        </script>
    }

</body>


