<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table_Empresas</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="~/js/tables.js" asp-append-version="true"></script>

</head>
<body>
    @model IEnumerable<FrontEnd.Models.Empresas>
    <div class="container">
        <div class="">
            <div class="">
                <input type="text" class="form-control text" id="search-input" placeholder="Search">
                <button class="btn btn-primary" id="search-btn">Search</button>
            </div>
            <div>
                @await Html.PartialAsync("Create_Empresa.cshtml", new FrontEnd.Models.Empresas())
            </div>
            <div>
                <form method="post" action="/Empresas/DeleteMultiple" id="delete-form">
                    <button type="submit" class="btn btn-primary" id="delete-btn">Delete Selected</button>
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th class="text">
                                    <input type="checkbox" id="select-all-checkbox">
                                </th>
                                <th class="text">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th class="text">
                                    @Html.DisplayNameFor(model => model.Local)
                                </th>
                                <th class="text">
                                    @Html.DisplayNameFor(model => model.Email_empresa)
                                </th>
                                <th data-type="text-long" class="text">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text"><input type="checkbox" class="select-checkbox" name="ids" value="@item.Id"></td>
                                    <td class="text">@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td class="text">@Html.DisplayFor(modelItem => item.Local)</td>
                                    <td class="text">@Html.DisplayFor(modelItem => item.Email_empresa)</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary text" asp-action="Edit_Empresa" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-sm btn-danger text" asp-action="Delete_Empresa" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
