@model FrontEnd.Data.Paging_Models.EmpresaPagingModel

<head>
    <script src="~/js/tables.js" asp-append-version="true"></script>

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="row mt-5">
                    <div class="col-6  mt-5">
                        <input type="text" class="form-control text" id="search-input" placeholder="Search">
                    </div>
                    <div class="col-6  mt-5">
                        <button class="btn btn-primary" id="search-btn">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-10 mt-1">
                @await Html.PartialAsync("Create_Empresa.cshtml", new FrontEnd.Models.Empresas())
            </div>
        </div>
    </div>
               
            <div>
                <form method="post" action="/Empresas/DeleteMultiple" id="delete-form">
                    <button type="submit" class="btn btn-danger" id="delete-btn">Delete Selected</button>
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th class="text">
                                    <input type="checkbox" id="select-all-checkbox">
                                </th>
                                <th class="text">
                                    @Html.DisplayNameFor(model => model.Empresas.Nome)
                                </th>
                                <th class="text">
                                    @Html.DisplayNameFor(model => model.Empresas.Local)
                                </th>
                                <th class="text">
                                    @Html.DisplayNameFor(model => model.Empresas.Email_empresa)
                                </th>
                                <th data-type="text-long" class="text">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.EmpresaList)
                            {
                                <tr id="paginated-list" aria-live="polite">
                                    <td class="text"><input type="checkbox" class="select-checkbox" name="ids" value="@item.Id"></td>
                                    <td class="text">@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td class="text">@Html.DisplayFor(modelItem => item.Local)</td>
                                    <td class="text">@Html.DisplayFor(modelItem => item.Email_empresa)</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary text" asp-action="Edit_Empresa" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-sm btn-danger text" asp-action="Delete_Empresa" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
    <!-- Paginação -->

    <paging
            page-no="Model.P"
            page-size="Model.S"
            total-records="Model.TotalRecords"
            text-page-size="{0} records per page"
            class-page-size-div="col-3"
            max-displayed-pages="5"
    >
    </paging>

<div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        NºElementos
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Empresas/Index?s=10">10</a>
            <a class="dropdown-item" href="/Empresas/Index?s=20">20</a>
            <a class="dropdown-item" href="/Empresas/Index?s=40">40</a>
      </div>
        
</div>


    @section Scripts 
    {

            <script>
                $(function () {
                    $("#dropdownMenuButton").text('@Model.S');
                })
            </script>
    }


</body>
